.DS_Store
__pycache__
all_pangolin_pdfs
big_index_storage_folder
bio_index_files
biographies
darwin_indices
DarwinPDFs
directory_to_index
flask_venv
grant_examples
indexed_example_grants
new_index_storage_folder
pangolin_index_storage_folder_all
pangolin_index_storage_folder1
pangolin_index_storage_folder2
pangolin_index_storage_folder3
pangolin_index_storage_folder4
pangolin_index_storage_folder5
pangolin_index_storage_folder6
pangolin_index_storage_folder7
pangolin_index_storage_folder8
pangolin_index_storage_folder9
pangolin_index_storage_folder10
pangolin_index_storage_folder11
pangolin_index_storage_folder12
pangolin_index_storage_folder13
pangolin_index_storage_folder14
pangolin_index_storage_folder15
pangolin_index_storage_folder16
pangolin_index_storage_folder17
pangolin_index_storage_folder18
pangolin_index_storage_folder19
pangolin_index_storage_folder20
pangolin_index_storage_folder21
pangolin_index_storage_folder22
pangolin_index_storage_folder23
pangolin_index_storage_folder24
pangolin_index_storage_folder25
pangolin_index_storage_folder26
resumes_index_files
sample_resume
storage
test_folder2
colab_workaround.py
config_file.py
webshot.png
grants_index_functionality.py
text_snippet.py
pword_hasher.py