.invisible {
    display: none;
}

.container {
    width: 100%;
}

.navbar {
    background-color: white;
}

.navbar button {
    margin-top: 12px;
    margin-left: 95px;
}

.navbar li {
    list-style-type: none;
    margin: 15px 60px 0px 60px;
}

body {
    margin: 0px;
    background-image: url('/static/images/Palau Coral.jpg');
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

#page-header {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    letter-spacing: 3px;
    text-align: center;
}

#form-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.app-header {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}

#form-container {
    width: 90%;
    background-color: rgb(208, 216, 225);
    border: 3px solid rgb(23, 147, 255);
    border-radius: 15px;
    padding: 35px;
    box-shadow: 7px 7px 15px black;
    min-width: 300px;
}

.prompt-text {
    margin-bottom: 10px;
}

form {
    font-family: Arial, sans-serif;
    margin-bottom: 28px;
}

#query-response-display {
    background-color: white;
    margin-top: 15px;
    padding: 5px;
    height: 200px;
    box-shadow: 1px 1px 7px;
}

#powered-by-tag {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#powered-by-tag img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}