<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pangolin.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

</head>

<body>

<div id="page-header">Ask Darwin: Pangolin</div>

<div id="form-section">
<!-- Query Form HTML -->
    <div id="form-container">
        <div class="app-header">Use the Open AI Query below to query our Documents!</div>

        <div class="prompt-text">Enter your question below</div>
        <form method="POST" onsubmit="$('#loading').show();">
            {{ form.hidden_tag() }}
            {{ form.query_string() }}
            {{ form.submit() }}
        </form>

        <div id="query-response-display">
            <p>
                {{ query_response }}
            </p>
        </div>

        <div id="loading" style="display:none;">
            <img src="{{ url_for('static', filename='images/loading_wheel.gif') }}" alt="loading-wheel"/>
        </div>

        <div id="powered-by-tag">
            <div id="powered-by-text">Powered By OpenAI</div>
            <img src="{{ url_for('static', filename='images/chatgpt_icon.png') }}" alt="chatgpt_logo">
        </div>
    </div>
</div>

</body>
</html> 